<%= render partial: "/layouts/navbar" %>
<%= @user.first_name %>
<%= image_tag @user.users_avatar %>

<% if current_user.superadmin? %>
	<h4><%= link_to 'View Tour', tours_all_tour_path%></h4>
	<h4><%= link_to 'Create Tour', new_tour_path%></h4>
<% end %>

