<%= render partial: "/layouts/navbar" %>

<div class="container">
	<div class="row">

		<h3>Weather forcast in <%= @city %></h3>
		
		<% @weather_info.take(5).each do |weather| %>
		<div class="col-md-2">
			<%= weather["dt_txt"] %> <br>
			<img src="http://openweathermap.org/img/w/<%= weather["weather"][0]["icon"] %>.png"><%= (weather["main"]["temp"]-273.15).round(1) %>&#8451; <br>
			<%= weather["weather"][0]["description"] %>
				<% if weather["weather"][0]["description"].match(/rain/) %>
					<p>Bring umbrella!</p>
				<% end  %>
			<br>
		</div>
		<% end %>

	</div>
	<br>				
<% if current_user.superadmin? %>

	<h4><%= link_to 'View Tour', tours_all_tour_path%></h4>
	<h4><%= link_to 'Create Tour', new_tour_path, id:"new_tour", remote: true%></h4>

<% end %>
<br>
<%= @user.first_name %>
<%= image_tag @user.users_avatar %>

<div>
	<p>Date available for tour allocation</p>
	<%= form_for DateAvailable.new, url: user_date_availables_path(@user.id), id:"create_date", remote: true do |form| %>
	<div class="text-field form-group">
	  <p>Start Date: <%= form.date_field :start_date , id:"start_date_form"%> </p>
	</div>

	<div class="text-field form-group">
	  <p>End Date: <%= form.date_field :end_date, id:"end_date_form" %> </p>
	</div>

	<div class="submit-field form-group" >
 	<%= form.submit "Submit"%>
	</div>
	<% end %>
</div>

<div class="table-container">
	<h3>Date Available List</h3>
	<table class="tour-list" id="date_list">
		<tr class="tour-list-title row">
			<th class="tour-list-item col-lg-3">Start Date </th>
			<th class="tour-list-item col-lg-3">End Date </th>
			<th class="tour-list-item col-lg-3"> </th>

		</tr>
		<% if @date_available.count == 0 %>
			<p>You not yet submit any date available.</p>
		<% else %>	
			<%= render @date_available %>

			<%# @date_available.each do |d| %>
				<%# render d %>
				<%# render partial: 'date_available', object: d %>
				<%# render partial: 'date_available', locals: { date_available: d } %>
			<%# end %>
		<% end %>
	</table>	
</div>	


</div>

