<%= render partial: "/layouts/navbar" %>



<div class="container">
	
	<h2>Tour details</h2>
	<p>Tour created by: <%= @tour.user.first_name %></p>
	<p>Tour reference: <%= @tour.id %></p>
	<p>Start Date: <%= @tour.start_date %></p>
	<p>End Date: <%= @tour.end_date %></p>
	<p>Itinerary: <%= @tour.itinerary %></p>
	<p>Customer name: <%= @tour.customer_name %></p>
	<p>Customer email: <%= @tour.customer_email %></p>
	<p>Customer phone: <%= @tour.customer_phone %></p>
	<p>Customer address: <%= @tour.full_street_address %></p>

	<p>Tour leader: 
		<% @users_tour.each do |a| %>
		<%= a.user.first_name %>
		<% end %>
	</p>
<% if current_user.superadmin? %>
	<h4><%= link_to 'Edit Tour', edit_tour_path %></h4>
	<h4><%= link_to 'Delete Tour', tour_path(@tour.id), method: :delete, data: { confirm: "Do you want to delete this tour?"} %></h4>
	<% if @tour.check_num_of_tourleader == 2 %>	

		<h4><%= link_to 'Update Tour Leader Allocation', edit_tour_users_tour_path(@tour.id) %></h4>
	<% else  %>	
		<h4><%= link_to 'Allocate Tour Leader', new_tour_users_tour_path(@tour.id) %></h4>
	<% end %>	

<% end  %>	

</div>